body { 
    margin-left: 25px;
} 

.data {
    padding: 0;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 1em;
    font-family: sans-serif;
}

.data th{
    border: 1px solid darkgray;
    padding: 5px;
    background-color: darkgray;
}

.blank * {
    border-left: none !important;
    border-right: none !important;
}

.data td
{
    border: 1px solid darkgray;
    padding: 5px;
}

.subheader td {
    background-color: lightgray;
}

.month td {
    background-color: lightgray;
}

.header td {
    font-weight: bold;
}
